* {
    margin: 0px;
    padding: 0px;
}

:root {
    --backcolor1: rgb(212, 207, 207);
    --color1: rgb(0, 0, 0);
    --backcolor2: rgb(57, 58, 58);
    --color2: rgb(225, 223, 223);
}
ul li a:hover{
    --backcolor2:rgb(150, 147, 147);
    background-color: var(--backcolor2);
    border: .1px solid var(--backcolor2);
    border-radius: 15px;
   border-width: 4px;

    
}
.navbar {
    background-color: var(--backcolor1);
    color: var(--color1);
    width: 100vw;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.navbar ul li {
    margin: 0 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

ul li a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--color1);
}

@media only screen and (max-width: 500px) {
    .navbar {
        background-color: var(--backcolor2);
        color: var(--color2);
        min-height: 4vh;
        height: auto;
        padding: 0;
    }

    .navbar ul {
        /* flex-direction: column; */
        width: 100%;
    }

    .navbar ul li {
        margin: 6px 0;
        padding: 8px 0;
        width: 100%;
    }

    ul li a {
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: var(--color2);
    }
}

@media only screen and (max-width: 400px) {
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }
}